{% extends 'registration/base.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-3 col-sm-8 col-center-block">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<table class="table table-bordered">
			{{ form.as_table }}
		<tr>
			<td colspan="2">
			<input type="submit" class="btn btn-primary" value="Login" />
			<a href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot password?</a>
			<input type="hidden" name="next" value="{{ next }}" />
			</td>
		</tr>
		</table>
		</form>
	</div>
</div>

{% endblock content %}
